<div class="container-fluid">
  <h1 class="display-4 text-center"><img src="assets/logo.png" /></h1>

  <hr />
  <!--  <div class="row">
    <div class="col-md-3">
      <h4 class="mb-4 text-center text-info">Registro de Usuario</h4>
      <app-usuario></app-usuario>
    </div>
    <div class="col-md-9">
      <app-usuario-list></app-usuario-list>
    </div>
  </div>
</div>

<hr />
<hr />
<hr />
<hr />
<hr />
<hr /> -->

  <div class="row">
    <div class="col-md-3 p-3">
      <h4 class="mb-4 text-center text-info">Registro de Usuario</h4>
      <app-usuario></app-usuario>
    </div>
    <div class="col-md-9">
      <div class="card bg-light border-info mb-3">
        <div class="card-header text-center">Lista de Usuarios</div>
        <div class="card-body text-info">
          <p class="card-text">
            <app-usuario-list></app-usuario-list>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
